.as {
  position: relative;
  margin-top: 8px;
  background: white;
  border: 1px solid #d6d6d6;
  display: none;
}

.as::before {
  content: '';
  position: absolute;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #a1a2a1;
  top: -8px;
  right: 5px;
}

.as__block {}

.as__block-title {
  text-align: left;
  padding: 10px 15px;
  background: #a1a2a1;
}

.as__block-items-wrapper {
  background: #F2F2F2;
}

.as__block-item {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  text-align: left;
}

.as__block-item:not(:last-child) {
  border-bottom: 1px solid #d6d6d6;
}

.product-item {
  display: flex;
}

.product-item__thumbnail {
  flex: 0 0 60px;
  margin-right: 10px;
}

.product-item__info {}

.product-item__name {
  margin-bottom: 3px;
}

.product-item__brand {
  color: #d6d6d6;
  margin-bottom: 3px;
}

.product-item__price {
  font-weight: bold;
}
